.button-config {
    width: 100%;
}

.button-submit {
    background: teal;
    color: white;
}

.button-delete {
    background: red;
    color: white;
}

.ant-checkbox {
    border: 1px solid teal;
}
