.container {
    width: calc(100vw - 40px);
    padding: 10px;
    gap: 10px;
    display: flex;

    .box1 {
        height: fit-content;
        border: 1px solid teal;
        border-radius: 5px;
        padding: 10px 5px 10px 10px;

        .box1content {
            margin-top: 20px;
        }
    }

    .box2 {
        border: 1px solid teal;
        border-radius: 5px;
        padding: 10px 10px 10px 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 723px) {
    .container {
        flex-wrap: wrap;
        .box1 {
            width: 100%;
        }

        .box2 {
            width: 100%;
        }
    }
}

@media screen and (min-width: 724px) {
    .container {
        flex-wrap: nowrap;

        .box1 {
            min-width: 300px;
            width: auto;
        }

        .box2 {
            width: 100%;
        }
    }
}
