.container {
    height: 100%;
    padding: 0 15px 15px 15px;
    margin-top: 30px;

    .titlefix {
        text-align: center;
    }

    .center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
