.container {
    width: 100%;
    height: auto;

    .start {
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        gap: 50px;

        .left {
            width: 60%;
            height: auto;
            min-height: 130px;
            padding: 10px;
            box-shadow:
                rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            .label {
                max-width: 200px;
            }
        }

        .right {
            width: 35%;
            height: auto;
            max-width: 350px;
            min-height: 130px;
            padding: 10px;
            box-shadow:
                rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }

    .end {
        padding: 10px;
        width: 60%;
    }
}
